body{
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 60px 0;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

section{
    text-align: left;
    padding: 0 15%;
}


.account{
    padding: 5px;
    border: 1px solid blueviolet;
    margin: 5px 0;
}
.bank-app{
    height: 45vh;
    overflow: auto;
}